	<key>REMOTEOFFICEAUTHKEY</key>
	<string>b31b9da4c61072b67ca49956c970d952</string>
	<key>SERVERNAME</key>
	<string>patch.manageengine.eu</string>
	<key>AUTODETECT_PROXY</key>
	<string>false</string>
	<key>REMOTEOFFICENAME</key>
	<string>Voice Norge AS</string>
	<key>MSIRESTARTMANAGERCONTROL</key>
	<string>Disable</string>
	<key>SERVERPROTOCOL</key>
	<string>https</string>
	<key>UEMSProductCode</key>
	<string>[PMPODEE]</string>
	<key>USEJSON</key>
	<string>true</string>
	<key>AGENTPOLLINGINTERVAL</key>
	<string>10</string>
	<key>SERVERSECIPADDRESS</key>
	<string>patch.manageengine.eu</string>
	<key>CUSTOMERNAME</key>
	<string>Fredrik Naglestad</string>
	<key>productcode</key>
	<string>PMPODEE</string>
	<key>ENABLEDISTRIBUTIONSERVER</key>
	<string>no</string>
	<key>SERVERPORT</key>
	<string>443</string>
	<key>REMOTEOFFICEID</key>
	<string>7551000000457021</string>
	<key>AGENTVERSION</key>
	<string>10.1.2228.16.M</string>
	<key>SC_VALUE</key>
	<string>0</string>
	<key>PERFORMASSETSCAN</key>
	<string>no</string>
	<key>SERVERSECUREPORT</key>
	<string>443</string>
	<key>ALLUSERS</key>
	<string>1</string>
	<key>ENABLESILENT</key>
	<string>YES</string>
	<key>SERVERFLATNAME</key>
	<string>patch.manageengine.eu</string>
	<key>MSPNAME</key>
	<string>DC_MSP</string>
	<key>DATA_TRANSFER_RATE</key>
	<string>0</string>
	<key>INSTALLTIME</key>
	<string>1660112694</string>
	<key>UNIQUE_ID_PARAM</key>
	<string>SERVICE_TAG</string>
	<key>PROXYBYPASS</key>
	<string></string>
	<key>SERVERIPADDRESS</key>
	<string>patch.manageengine.eu</string>
	<key>CUSTOMERID</key>
	<string>7551000000066035</string>
	<key>ENABLE_CAPTCHA</key>
	<string>yes</string>
	<key>ENABLEREMOTEOFFICEMGMT</key>
	<string>yes</string>
	<key>PERFORMPATCHSCAN</key>
	<string>yes</string>
	<key>RoSummaryEnabled</key>
	<string>true</string>
	<key>VALUE2</key>
	<string>b31b9da4c61072b67ca49956c970d952</string>
	<key>UNIQUE_ID_STATUS</key>
	<string>false</string>
	<key>VALUE1</key>
	<string>84c68dba52b9b65d9f3733ff9776ef1baa92fced3a13a364fc7b5607ed793da9aca42652b7e18d9b72307d6c55f04022f38a864e3578c8e8bae15d992bc4e84f13273d05f44b10bb0fe39307080f3aa8cd5884fad8c8c764ce15fd867deb51747e414978fcc74aea60ff181c67a845d82980a4ed500959f9497d6dff67d78e979011c9b617a8c8956b290175a4406905</string>
	<key>ENABLEPROXY</key>
	<string>no</string>
	<key>DirectDownloadEnabled</key>
	<string>true</string>
	<key>PERFORMPOSTINSTALL</key>
	<string>yes</string>
	<key>DID</key>
	<string>7551000000554673</string>